
#outputwindow {width:900px; height:700px; border:4px solid #000;}
#gamewindow {width:100%;}


.smallbox {url(img/smallbox.png);}
.mediumbox {url(img/mediumbox.png);}
.largebox {url(img/largebox.png);}

.pusher_in {url(img/pusher_in.png);}
.pusher_mid {url(img/pusher_mid.png);}
.pusher_out {url(img/pusher_out.png);}

